@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&display=swap");

:root {
  --font-family: "Kanit", sans-serif;
  --bg-color: #FFD2D7;
  --primary-color: #241468;
  --secondary-color: #9F0D7F;
  --default-color: #EA1179;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
}

.title {
  font-size: 5em;
  margin-bottom: 20px;
}

.sub-title {
  font-size: 2.5em;
}

.message {
  font-size: 1.5rem;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  display: inline-block;
  padding: 10px;
  font-size: 4em;
  margin: 20px;
  border-radius: 5px;
}

.btn {
  padding: 8px 15px;
  border: 0;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin-top: 20px;
  color: white;
}

.fa-microphone {
  font-size: 4em;
}

.blink {
  animation: blink 1s alternate-reverse infinite;
  -webkit-animation: blink 1s alternate-reverse infinite;
}

.instructions {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.instructions > h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
